* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Roboto", sans-serif;
    
 }
 
 /* Estilos mobile */
@media (max-width: 375px) {
    .container {
      width: 375px; 
    }
  }
  
  /* Estilos desktop */ 
  @media (min-width: 1440px) {
    .container {
      width: 1440px;
    }
  }
  

 body {
    background-color: hsl(235, 18%, 26%);
 }

 .container {
    background-color: white;
    max-width: 850px;
    height: 571px;
    border-radius: 20px;
    margin-top: 5.5rem;
    margin-left: auto;
    margin-right: auto;
 }

 .container img {
  width: 360px;
  height: 50%;
  margin-top: 1.2rem;
  margin-right: 1.2rem;
  margin-bottom: 1.2rem;
  float: right;
   
 }

 .container h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 55px;
    text-align: left;
    margin-left: 3.5rem;
    padding-top: 4rem;
    color: hsl(234, 29%, 20%);
 }

 .text p {
   font-family: "Roboto", sans-serif;
   font-size: 16px;
   font-weight: 400;
    text-align: left;
    margin-left: 3.5rem;
    padding-top: 1rem;
    color: hsl(234, 29%, 20%);
   
 }

 .titulos {
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin-top: 0.8rem;
  }
  
  .list p {
    font-family: "Roboto", sans-serif;
    color: hsl(234, 29%, 20%);
    font-size: 16px;
    font-weight: 400;
    margin-left: 2.5rem;
    padding-top: 1rem;
    padding-left: 0;
  }
  
  .list img {
    float: left;
    width: 20px;
    height: 20px;
    margin-left: -0.1em;
  }
  
  .titulos-2 {
      display: flex; 
      flex-direction: column;
      align-items: center;
    }

  .list-2 p {
    font-family: "Roboto", sans-serif;
    color: hsl(234, 29%, 20%);
    font-size: 16px;
    font-weight: 400;
    margin-left: 2.1rem;
    margin-top: -0.1em;
  }
  
  .list-2 img {
    float: left;
    width: 20px;
    height: 20px;
    margin-left: -0.5em;
    margin-top: -0.1em;
  }
  
.titulos-3 {
    display: flex; 
    flex-direction: column;
    align-items: center;
  }

.list-3 p {
  font-family: "Roboto", sans-serif;
  color: hsl(234, 29%, 20%);
  font-size: 16px;
  font-weight: 400;
  margin-left: -8.5em;
  margin-top: 0rem;
}

.list-3 img {
  float: left;
  width: 20px;
  height: 20px;
  margin-left: -11.2em;
  margin-top: -0.1em;
}
 
input[type="email"] {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 15px;
  width: 365px;
  margin-left: 3.5rem;
  margin-top: 0.5rem;
  
}

input[type="email"]:focus {
  border-color: #333;
  outline: none;
}


input[type="email"]:hover {
  border-color: black;
  outline: none;
  cursor: pointer;
}


label {
  font-family: "Roboto", sans-serif;
  color: hsl(234, 29%, 20%);
  font-size: 13px;
  font-weight: 700;
  margin-left: 3.5rem ;
  margin-top: 1.5rem;
  display: flex;

}

button {
  font-family: "Roboto", sans-serif;
  background-color:hsl(234, 29%, 20%) ;
  color: white ;
  font-size: 13px;
  font-weight: 700;
  margin-left: 3.5rem ;
  padding: 15px;
  width: 365px ;
  border-radius: 6px;
  margin-top: 1rem;
  cursor: pointer;
  transition: 0.3s all;
  display: inline-block;
  border: none;

} 

button:active {
  scale: 0.92;
}

button:hover{
  background-position: absolute;
  background-image: none;
  background-color: linear-gradient( bottom, #f84c80 30%, #fc5d0d 100%);
  background: linear-gradient( bottom, #f84c80 30%,#fc5d0d 100%);
  transform: 0.3s;
  background-clip: bottom;
  -webkit-bottom-fill-color: transparent;
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.form {
  display: flex;
  flex-direction: column;
}

.input-container {
  position: relative;
  margin-bottom: 1rem;
}

.error-message {
  color: red;
  font-size: 0.875rem;
  position: absolute;
  top: -20px;
  right: 0;
  display: none;
}

input.error {
  background-color: #ffcccc;
  border: 1px solid red;
}
